<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CA107G3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Restaurant_MenuServlet</servlet-name>
    <servlet-class>com.restaurant_menu.controller.Restaurant_MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurant_MenuServlet</servlet-name>
    <url-pattern>/Restaurant_Menu/Restaurant_Menu.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VendorServlet</servlet-name>
    <servlet-class>com.vendor.controller.VendorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorServlet</servlet-name>
    <url-pattern>/Vendor/Vendor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RES_Transaction_ListServlet</servlet-name>
    <servlet-class>com.restaurant_transaction_list.controller.RES_Transaction_ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RES_Transaction_ListServlet</servlet-name>
    <url-pattern>/RES_Transaction_List/RES_Transaction_List.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Restaurant_ResponsesServlet</servlet-name>
    <servlet-class>com.restaurant_responses.controller.Restaurant_ResponsesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restaurant_ResponsesServlet</servlet-name>
    <url-pattern>/Restaurant_Responses/Restaurant_Responses.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowImg</servlet-name>
    <servlet-class>tools.ShowImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowImg</servlet-name>
    <url-pattern>/ShowImg.do</url-pattern>
  </servlet-mapping>
</web-app>